/**/.idea/
/**/node_module/
/**/**/node_modules/
/**/build/
/**/dist/
**/.npmrc
**/.DS_Store
/.idea/
/dist/
/build/
/node_modules/
/packages/core/src/isomorphic-react
/packages/core/src/isomorphic-react-dom

